.px-prev-setting-alert {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.px-prev-setting-alert-msg {
  margin-right: 0.75rem;

  @media (max-width: 1199.98px) {
    margin: 0.25rem 0.75rem 0.25rem 0;
  }
}

.px-prev-setting-alert-btns {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;

  @media (max-width: 1199.98px) {
    margin: 0.25rem 0;
  }

  .btn:not(:first-child) {
    margin-left: 0.5rem;
  }
}

.px-order-prev-settings {
  display: grid;
  grid-template: auto / 1fr 2fr;
  grid-gap: 1rem;
}

.px-order-presets {
  display: grid;
  grid-template: auto / auto 1fr;
  grid-gap: 0.5rem;

  span {
    padding: 0 0.5rem;

    &:nth-child(odd) {
      font-weight: bold;
    }
  }
}
