<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select a Preset</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('X click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-tabset type="pills" orientation="vertical" class="px-order-prev-settings">
      <ngb-tab>
        <ng-template ngbTabTitle>Order #PX123ABC</ng-template>
        <ng-template ngbTabContent>
          <div class="px-order-presets">
            <span>Language:</span>
            <span>Dutch</span>

            <span>Territory:</span>
            <span>Netherlands</span>

            <span>Dialogue:</span>
            <span>OV</span>

            <span>Narration:</span>
            <span>OV</span>

            <span>Graphics:</span>
            <span>OV</span>

            <span>Tags:</span>
            <span><code>COMING SOON</code>, <code>FRIDAY</code></span>

            <span>Broadcast:</span>
            <span class="text-muted"><em>N/A</em></span>

            <span>Online:</span>
            <span>
              <em>1080p, 720p, 480p, 360p, YouTube, Facebook, Instagram</em> to Grayson Brown, Doug Richar, Nick Ferraro
            </span>

            <span>Theatrical:</span>
            <span>
              <em>2D Flat, Download Link, 1 USB</em> to Philip Zlotorynski and Doug Richar
            </span>

            <span></span>
            <span>
              <em>3D Scope, Download Link, 2 USB</em> to James Tosi and Grayson Brown
            </span>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Custom Preset 1</ng-template>
        <ng-template ngbTabContent>
          <div class="px-order-presets">
            <span>Language:</span>
            <span>Spanish</span>

            <span>Territory:</span>
            <span>Spain</span>

            <span>Dialogue:</span>
            <span>Subtitled</span>

            <span>Narration:</span>
            <span>Subtitled</span>

            <span>Graphics:</span>
            <span>OV</span>

            <span>Tags:</span>
            <span><code>COMING SOON</code>, <code>FRIDAY</code></span>

            <span>Broadcast:</span>
            <span>SD 4:3 NTSC</span>

            <span>Online:</span>
            <span class="text-muted"><em>N/A</em></span>

            <span>Theatrical:</span>
            <span class="text-muted"><em>N/A</em></span>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Custom Preset 2</ng-template>
        <ng-template ngbTabContent>
          <div class="px-order-presets">
            <span>Language:</span>
            <span>Spanish</span>

            <span>Territory:</span>
            <span>Mexico</span>

            <span>Dialogue:</span>
            <span>Subtitled</span>

            <span>Narration:</span>
            <span>Subtitled</span>

            <span>Graphics:</span>
            <span>OV</span>

            <span>Tags:</span>
            <span><code>COMING SOON</code>, <code>FRIDAY</code></span>

            <span>Broadcast:</span>
            <span>SD 4:3 NTSC</span>

            <span>Online:</span>
            <span class="text-muted"><em>N/A</em></span>

            <span>Theatrical:</span>
            <span class="text-muted"><em>N/A</em></span>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Custom Preset 3</ng-template>
        <ng-template ngbTabContent>
          <div class="px-order-presets">
            <span>Language:</span>
            <span>German</span>

            <span>Territory:</span>
            <span>Austria</span>

            <span>Dialogue:</span>
            <span>Subtitled</span>

            <span>Narration:</span>
            <span>Subtitled</span>

            <span>Graphics:</span>
            <span>OV</span>

            <span>Tags:</span>
            <span><code>COMING SOON</code>, <code>FRIDAY</code></span>

            <span>Broadcast:</span>
            <span>SD 4:3 NTSC</span>

            <span>Online:</span>
            <span class="text-muted"><em>N/A</em></span>

            <span>Theatrical:</span>
            <span class="text-muted"><em>N/A</em></span>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" aria-label="Cancel" (click)="d('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-primary" aria-label="Save" (click)="c('Save click')">Apply Settings</button>
  </div>
</ng-template>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">
    <div class="px-prev-setting-alert">
      <span class="px-prev-setting-alert-msg">Would you like to apply settings from a previous order?</span>
      <div class="px-prev-setting-alert-btns">
        <button class="btn btn-info btn-sm" (click)="open(content)">View Settings</button>
      </div>
    </div>
  </ngb-alert>
</p>
