@import '~bootstrap/scss/bootstrap';

.px-grid {
  display: grid;
  grid-template-columns: 4rem auto 1fr;
  height: 100vh;
}

.px-menu,
.px-header {
  background: hsla(0,0,0,1);

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;

      circle {
        fill: hsla(0,0,100,0.25);
      }
    }
  }
}

.px-menu {
  .nav-link {
    svg {
      path {
        fill: hsla(0,0,100,1);
      }
    }

    &:nth-child(2) {
      background: hsla(0,0,100,0.25);
    }
  }
}

.px-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  color: white;

  .px-header-title {
    margin: 0;

    @media (max-width: 767.98px) {
      font-size: 1.25rem;
    }

    span {
      font-weight: 300;
      color: hsla(0,0,100,0.5);
      margin-right: 0.25rem;
    }
  }

  @media (max-width: 799.98px) {
    .nav {
      display: none;
    }
  }
}

.px-sidebar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background: hsla(0,0,0,0.625);
  width: 12rem;

  @media (max-width: 991.98px) {
    width: 0;

    > * {
      display: none;
    }
  }

  .nav-link {
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: center;
    padding: 1rem;
    width: 12rem;
    height: 4rem;
    color: hsla(0,0,100,0.5);
    cursor: pointer;

    &:hover {
      color: hsla(0,0,100,0.5);
    }

    &.active {
      color: white;
      font-weight: 700;
    }
  }

  .px-sidebar-order-overview {
    .px-sidebar-order-card {
      margin: 1rem;
      border: none;
      background: hsla(0,0,100,0.1);
      color: hsla(0,0,100,0.75);

      .card-body {
        padding: 0.75rem 1rem;
      }

      .card-text {
        font-size: 0.8rem;
        margin-bottom: 0;

        &.studio-name {
          color: hsla(0,0,100,0.33);
        }
      }
    }
  }
}

.px-main {
  display: grid;
  grid-template-rows: 4rem 1fr;
  height: 100vh;

  .px-content {
    overflow-y: auto;
  }
}

.px-order {
  display: grid;
  grid-template-rows: 1fr auto;
  height: calc(100vh - 4rem);
  position: relative;

  .px-order-main {
    overflow-y: auto;
    padding: 1.5rem;

    .px-order-grid {
      display: grid;
      grid-template: auto / 1fr 1fr;
      grid-gap: 1rem;
      margin-bottom: 2rem;

      @media (min-width: 1600px) {
        grid-template: auto / 1.5fr 1fr 1fr;
      }

      h3 {
        grid-column: 1 / -1;
      }
    }

    .px-order-details {
      grid-column: 1 / -1;

      @media (max-width: 767.98px) {
        select {
          margin-bottom: 1.5rem;
        }
      }

      @media (min-width: 1600px) {
        grid-column: auto;
      }
    }

    px-subtitles-settings,
    .px-order-tags {
      grid-column: 1 / -1;

      @media (min-width: 1200px) {
        grid-column: auto;
      }
    }

    .px-order-usage {
      grid-column: 1 / -1;

      @media (min-width: 1200px) {
        grid-column: 1 / -2;
      }

      .px-order-usage-grid {
        display: grid;
        grid-template: auto / auto 1fr;
        grid-gap: 1rem;

        @media (min-width: 1400px) {
          grid-template: auto / repeat(3, auto 1fr);
        }

        p {
          color: hsla(0,0,0,0.5);
        }
      }
    }

    .px-order-cost {
      grid-column: 1 / -1;

      @media (min-width: 1200px) {
        grid-column: auto;
      }
    }
  }

  .px-order-navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
  }
}
