<div class="px-grid">
  <div class="px-menu">
    <nav class="nav flex-column">
      <a class="nav-link" href="#">
        <svg viewBox="0 0 24 24">
          <path d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/>
        </svg>
      </a>
      <a class="nav-link" href="#" *ngFor="let item of [1,2,3,4,5,6,7,8]">
        <svg viewBox="0 0 24 24"><circle cx="12" cy="12" r="12"/></svg>
      </a>
    </nav>
  </div>

  <div class="px-sidebar">
    <div class="px-sidebar-order-overview">
      <div class="px-sidebar-order-card card">
        <img class="card-img-top" src="http://placehold.it/640x400/?text=Preview" alt="" />
        <div class="card-body">
          <p class="card-text project-name">Project Name</p>
          <p class="card-text studio-name">Studio Name</p>
        </div>
      </div>
      <nav class="nav">
        <a class="nav-link active" href="#">Order Details</a>
        <a class="nav-link" href="#">Translation</a>
        <a class="nav-link" href="#">Review</a>
      </nav>
    </div>
    <div class="px-sidebar-order-progress">
      <p>8 Questions Remaining</p>
      <ngb-progressbar type="info" [value]="20" height=".5rem"></ngb-progressbar>
    </div>
  </div>

  <div class="px-main">
    <div class="px-header">
      <h4><span>Place Order /</span> Glossy Bastard Int'l 20</h4>
      <nav class="nav">
        <a class="nav-link" href="#" *ngFor="let item of [1,2,3,4,5]">
          <svg viewBox="0 0 24 24"><circle cx="12" cy="12" r="12"/></svg>
        </a>
      </nav>
    </div>
    <div class="px-content">

      <div class="px-order">
        <div class="px-order-main">

          <px-prev-setting-alert></px-prev-setting-alert>

          <div class="px-order-grid">
            <h3>Order Details</h3>
            <div class="card px-order-details">
              <div class="card-header">Localization</div>
              <div class="card-body">
                <form>
                  <div class="form-group row">
                    <div class="col">
                      <label for="input1">Language</label>
                      <select id="input1" class="form-control">
                        <option selected>Select Language&hellip;</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="input2">Territory</label>
                      <select id="input2" class="form-control">
                        <option selected>Select Territory&hellip;</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="input3">Due Date</label>
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp" [(ngModel)]="dueDate" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-primary" (click)="d.toggle()" type="button">
                            <fa name="calendar"></fa>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="card px-order-subtitling">
              <div class="card-header">
                <span>Subtitling</span>
                <label for="">Automate <input type="checkbox"></label>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group row">
                    <label for="input4" class="col-sm-4 col-form-label">Dialogue</label>
                    <div class="col-sm-8">
                      <select id="input4" class="form-control">
                        <option selected>Subtitled</option>
                        <option>Subtitled</option>
                        <option>Subtitled</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="input5" class="col-sm-4 col-form-label">Narration</label>
                    <div class="col-sm-8">
                      <select id="input5" class="form-control">
                        <option selected>Dedicated</option>
                        <option>Dedicated</option>
                        <option>Dedicated</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="input6" class="col-sm-4 col-form-label">Graphics</label>
                    <div class="col-sm-8">
                      <select id="input6" class="form-control">
                        <option selected>OV</option>
                        <option>OV</option>
                        <option>OV</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="card px-order-tags">
              <div class="card-header">Tags</div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Tags">
                  </div>
                </form>
              </div>
            </div>

            <div class="card px-order-usage">
              <div class="card-header">Usage</div>
              <div class="card-body">

              </div>
            </div>
          </div>

        </div>

        <div class="px-order-navigation">
          <button class="btn btn-primary btn-lg" type="button">Next: Translation</button>
        </div>

      </div>

    </div>
  </div>
</div>
