<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Online Settings</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('X click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="onlineSetting1">
          <label class="form-check-label" for="onlineSetting1">1080p</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="onlineSetting2">
          <label class="form-check-label" for="onlineSetting2">720p</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="onlineSetting3">
          <label class="form-check-label" for="onlineSetting3">480p</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="onlineSetting4">
          <label class="form-check-label" for="onlineSetting4">360p</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="onlineSetting5">
          <label class="form-check-label" for="onlineSetting5">YouTube</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="onlineSetting6">
          <label class="form-check-label" for="onlineSetting6">Facebook</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="onlineSetting7">
          <label class="form-check-label" for="onlineSetting7">Instagram</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" aria-label="Cancel" (click)="d('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-primary" aria-label="Save" (click)="c('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">Settings</button>
